* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Press Start 2P", system-ui;
}

#game {
  background-color: #41acee;
  --angle: 0deg;
  border: 10px solid;
  border-image: linear-gradient(var(--angle), #00cc99, #eef0f5, #1b88e8) 1;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
