* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5vh;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 5vh;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
}

#game {
  background-color: skyblue;
  --angle: 0deg;
  border: 10px solid;
  border-image: linear-gradient(var(--angle), #00cc99, #eef0f5, #1b88e8) 1;
  animation: 5s rotate linear infinite;
}

.btn--invisible {
  display: none;
}

.instructions {
  text-align: left;
  padding: 3rem;
  justify-self: center;
  color: tomato;
  font-size: 1rem;
  user-select: none;
}

h2 {
  margin-bottom: 2rem;
}

ol {
  max-width: 300px;
}

li {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
